*Strategy*.pdf

# raw data
pwc/data/raw/*
pwc/cv/*
pwc/btl_sim/*

/grt/data/*
# grt/data/raw/*
# grt/data/pilot*
# grt/data/cleaned/*

# archive directories?
*/archive/*


# Default ignored file
.jpg
.JPG
*.JPG
*.exe
*.zip
*.png

*.Rproj*
*.Rhistory
*.RData

*.pyc
*.pickle
*.h5

*.xlsx
*.docx
*.pptx

*.log
*.json
*.pth
*.pb
*.mp4

# latex files
*.blg
*.fls
*.synctex*
*.aux
*.fdb_latexmk
*.bbl
*.out
*.pdf
*.ttl

