*Strategy*.pdf

# raw data
pwc/cv/*
pwc/btl_sim/*

# grt/data/raw/*
# grt/data/pilot*
# grt/data/cleaned/*

/melnet/data/*
/melnet/models
/melnet/tutorials/*


# archive directories?
*/archive/*
*/presentations/*


# Default ignored file
*.jpg
*.JPG
*.JPG
*.exe
*.zip
*.png
*.gif

*.Rproj*
*.Rhistory
*.RData

# Matlab
*.asv

*.pyc
*.pickle
*.h5
*.ipynb*

*.xlsx
*.docx
*.pptx
*.odp

*.log
*.json
*.pth
*.pb
*.mp4

# latex files
*\manuscript\*
*.tex
*.blg
*.fls
*.synctex*
*.aux
*.fdb_latexmk
*.bbl
*.out
*.pdf
*.ttl
*.ttf
*.bcf
*.xml
*.bib
*.nav
*.snm
*.toc
*.cls
*.bst

